.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;     /* Limits text to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex-auto {
    flex: 1 1 auto;
  }

.h-20per{
    height: 15%;
}

.h-80per{
    height: 85%;
}

/* custom.css */
.p-timeline-event-opposite {
    display: none;
}

.dark-theme-tab {
    background-color: #333;
    color: #fff;
  }
  
  .light-theme-tab {
    background-color: #f0f0f0;
    color: #000;
  }
/* 
  .p-accordion-header	 {
    background-color:transparent;
    border: 2px solid red
    
  }
  .p-accordion {
    background-color: aqua !important; 
    margin-bottom: 10px;
  }
  .p-accordion-content	{
    background-color: blueviolet;
  } */

  .accordion-tab-header-light > a {
    background-color: #f5f5f5; /* Light mode background */
    color: #333; /* Text color for light mode */

  }
  
  .accordion-tab-header-dark > a {
    background-color: #292c2e; /* Dark mode background */
    color: white; /* Text color for dark mode */
    border-color:#4b4848;
  }

  /* .p-accordion-content.accordion-tab-header-dark > a {
    background-color: #292c2e;
    border-color: #4b4848;
  } */

  /* .p-accordion-content-light {
    background-color: #eaeaea;
    border-color: #322f2f;
    color: #000;

  }

  .p-accordion-content-dark {
    background-color: #4d4d4d;
    color: white;
    
  } */

  .p-accordion-tab {
    margin-bottom: 6px;
    
  }
  /* .p-accordion-tab:nth-child(1) .p-accordion-content {
    background-color: #d6d5d5; 
    color: #333; 
  } */

  .p-fileupload-choose {
    padding: 25px 50px;
    font-size: large;
  }

  .p-button-label {
    font-size: 24px;

  }

  
 